@model Property_Management_Sys.Models.Roles.ChangePassword
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="signup-card card-block auth-body mr-auto ml-auto">
            <div class="auth-box">
                <div class="row m-b-20">
                    <div class="col-md-12">
                        <img src="~/Theme/assets/logo-dark.png" alt="logo.png" style="height: 62px;">
                    </div>
                    <div class="col-md-12">
                        <h3 class="text-center txt-primary">Change Password.</h3>
                    </div>
                </div>
                <hr />
                @using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post))
                {
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color:black!important">Old Password&nbsp;<span style="color:red!important"><b>*</b></span></label>
                            <input asp-for="OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color:black!important">New Password&nbsp;<span style="color:red!important"><b>*</b></span></label>
                            <input asp-for="NewPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="color:black!important">Confirm Password&nbsp;<span style="color:red!important"><b>*</b></span></label>
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div style="padding-top: 22px;">
                            <button class="btn btn-success mt-2" type="submit" tabindex="6">Update password</button>
                        </div>
                    </div>
                    <p class="mb-1">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </p>
                }
                <hr />
                <div class="text-center">
                    <div class="col-md-12">
                        <center><h3>Go To....<a  href="@Url.Action("Index","Home")" style="color:red!important;font-size:21px!important">DashBoard</a></h3></center>
                    </div>
                </div>
            </div>

            <!-- end of form -->
        </div>
        <!-- Authentication card end -->

    </div>
</div>
