
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="signup-card card-block auth-body mr-auto ml-auto">
            <div class="auth-box">
                <div class="row m-b-20">
                    <div class="col-md-12">
                        <img src="~/Theme/assets/logo-dark.png" alt="logo.png" style="height: 62px;">
                    </div>
                    <div class="col-md-12">
                        <h3 class="text-center txt-primary">Forgot Password</h3>
                    </div>
                </div>
                <hr />
                <div class="row m-t-30">
                    <div class="col-md-12">
                        <h4> <span style="color:black!important">The link has been sent, please check your email to reset your password</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
