@model Property_Management_Sys.Models.Roles.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="signup-card card-block auth-body mr-auto ml-auto">
            <div class="auth-box">
                <div class="row m-b-20">
                    <div class="col-md-12">
                        <img src="~/Theme/assets/logo-dark.png" alt="logo.png" style="height: 62px;">
                    </div>
                    <div class="col-md-12">
                        <h3 class="text-center txt-primary">Forgot Password</h3>
                    </div>
                </div>
                <hr />
                @using (Html.BeginForm("ForgotPassword", "Accounts", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" value='' placeholder="Please Enter Your Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <input type="submit" style="color: yellow" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" value="Submit" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>





