@model Property_Management_Sys.Models.Roles.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="signup-card card-block auth-body mr-auto ml-auto">
            <div class="auth-box">
                <div class="row m-b-20">
                    <div class="col-md-12">
                        <img src="~/Theme/assets/logo-dark.png" alt="logo.png" style="height: 62px;">
                    </div>
                    <div class="col-md-12">
                        <h3 class="text-center txt-primary">Reset Password</h3>
                    </div>
                </div>
                <hr />
                @using (Html.BeginForm("ResetPassword", "Accounts", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Email" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                    <div class="input-group">
 
                        <input asp-for="Password" class="form-control" placeholder="Please Enter Password"/>
                        <span asp-validation-for="Password" class="text-danger" ></span>
                    </div>
                    <div class="input-group">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Please Enter Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <input type="submit" style="color: yellow" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" value="Create" />
                        </div>
                    </div>
                }
                <div class="text-center">
                    <div class="col-md-12">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
