@{
    ViewBag.Title = "Supplies";
}

<br />
<link href="~/adminpage/css/helper.css" rel="stylesheet">
<link href="~/adminpage/css/style.css" rel="stylesheet">
<center><h2><b>Coming Soon</b></h2></center>
