@model IEnumerable<Property_Management_Sys.Models.Tbl_Property_Detail>
@{
    ViewBag.Title = "Details";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <!-- Basic table card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Property Detail</h5>
                            <div class="card-header-right">
                                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Property Details.." class="form-control">
                            </div>
                        </div>
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
