@page
@using Property_Management_Sys.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="signup-card card-block auth-body mr-auto ml-auto">
            <div class="auth-box">
                <div class="row m-b-20">
                    <div class="col-md-12">
                        <img src="~/Theme/assets/logo-dark.png" alt="logo.png" style="height: 85px;">
                    </div>
                    <div class="col-md-12">
                        <h3 class="text-center txt-primary">Sign In.</h3>
                    </div>
                </div>
                <hr />
                <form method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" asp-for="Input.Email" placeholder="Enter The Email">
                    </div>
                    <div class="input-group mb-3">
                        <input id="password-field" type="password" class="form-control" asp-for="Input.Password" placeholder="Enter The Password">
                    </div>
                    <div class="input-group mb-3">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember" asp-for="Input.RememberMe">
                            <label for="remember" style="color:black!important">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" style="color: yellow" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" value="Sign In now" />
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        @{
                            var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            if (!providers.Any())
                            {

                            }
                            else
                            {
                                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in providers)
                                            {
                                                var btn_val = "Sign in With" + @provider.Name;
                                                <input type="submit" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20" value="@btn_val" name="provider" />
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                        }
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <div class="col-md-12">
                        <center><h3>Create New Account....<a asp-area="Identity" asp-page="/Account/Register" style="color:red!important;font-size:21px!important">Sign Up?</a></h3></center>
                    </div>
                </div>

            </div>

            <!-- end of form -->
        </div>
        <!-- Authentication card end -->

    </div>
</div>

