@model PropertyManagementSystem.Models.ExternalLoginModel
@{
    ViewData["Title"] = "ExternalLogin";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="signup-card card-block auth-body mr-auto ml-auto">
            <div class="auth-box">
                <div class="row m-b-20">
                    <div class="col-md-12">
                        <img src="~/Theme/assets/logo-dark.png" alt="logo.png" style="height: 85px;">
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <p id="external-login-description" class="text-info" style="color:black!important">
                            You've successfully authenticated with <strong>Google</strong>.
                            Please enter an email address for this site below and click the Register button to finish
                            logging in.
                        </p>
                    </div>
                </div>
                <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Property Name</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" style="color: yellow" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" value="Register" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

