@model PropertyManagementSystem.Models.ExternalLoginModel
@{
    ViewData["Title"] = "ExternalLogin";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="signup-card card-block auth-body mr-auto ml-auto">
            <div class="auth-box">
                <div class="row m-b-20">
                    <div class="col-md-12">
                        <img src="~/Theme/assets/logo-dark.png" alt="logo.png" style="height: 85px;">
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <p id="external-login-description" class="text-info" style="color:black!important">
                            You've successfully authenticated with <strong>Google</strong>.
                            Please enter an email address for this site below and click the Register button to finish
                            logging in.
                        </p>
                    </div>
                </div>
                <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>Email</label>
                        <input asp-for="Email" class="form-control"  />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Property Name</label>
                        <select id="ApptenantVal" name="ApptenantVal" class="form-control" required="required"></select>
                        <span asp-validation-for="ApptenantVal" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" style="color: yellow" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" value="Register" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        GetAppTenant();
    });
    function GetAppTenant() 
    {
        $.ajax({
            url: "/Home/GetAllAppTenant",
            type: "GET",
            data: { vals: "2" },
            success: function (response) {
                console.log(response);
                $('#ApptenantVal').html('');
                var options = '';
                options += '<option value = " " > Select App Tenant </option>';
                for (var i = 0; i < response.length; i++) {
                    options += '<option value ="' + response[i].Text + '">' + response[i].Value + ' </option>';
                }
                $('#ApptenantVal').append(options);
            },
            error: function (xhr) {
                alert('App tenant Does not Exist...!');
            }
        });
    }
</script>